*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}


html {
    height: 100%;
  }
  
  body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%; /* This should make the body take up the full height of the html element */
    background-color: #232331;
    background-image: url('/assets/anime-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  
  
  body::before {
    content: '';
    position: fixed; /* changed from absolute to fixed to cover the whole page */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }

  
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}





.mainball{
   position: relative;
   width: 300px;
   height: 300px; 
   background: #fff;
   border: 25px solid #000;
   border-radius: 50%;
   overflow: hidden;
   animation: pokeballGO .25s ease-in-out,
                        spin 2s ease-in-out 3;
}


@keyframes pokeballGO{
    0%{
        top: -500px;
    }50%{
        top: -500px;
    }
    75%{
        top: -30px;
    }

    100%{
        top: 0px;
    }
}

@keyframes spin {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(360deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}

.mainball::before,
.mainball::after{
    content: '';
    position: absolute;
}

.mainball::before{
    background-color: red;
    height: 50%;
    width: 100%;
}

.mainball::after{
    top: calc(50% - 15px);
    height: 25px;
    background: #000;
}


.pokebutton{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background: #7f8c8d;
    border: 20px solid #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 20px #000;
    animation: buttonglow 3s ease-in-out 3;
}

@keyframes buttonglow {
    0%{
        background: #7f8c8d; 
    }

    50%{
        background: red;
    }
    100%{
        background: #7f8c8d;
    }
    
}

  

.header-container{
    opacity: 0;
    padding: 20px;
}

.hamburger-menu{
    z-index: 1;
    position: absolute;
    right: 30px;
    top: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    
}

.hamburger-menu > .line{
    height: 5px;
    width: 35px;
    background-color: crimson;
    border-radius: 5px;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px
}

header > img {
    height: 3rem;
}

header > nav{
    display: flex;
    gap: 20px;
}

header > nav > a{
    font-size: 1.27rem;
}

header > nav > a:hover{
    color: lightgray;
}

@media only screen and (max-width: 650px){ 
    
    header{
        width: 100%;
        padding: 0;
    }

    header > nav > a{
        font-size: 1rem;
    }

    .mainball{
        height: 250px;
        width: 250px;
    }
}

@media only screen and (max-width: 650px){ 
    .hamburger-menu {
        cursor: pointer;
        display: flex;
    }
    
    /* Initially hide the nav */
    nav {
        display: none;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        background: linear-gradient(to right, #000000, #7f051d);
        top: 70px;
        right: 2000px;
        border-radius: 5px;
        padding: 15px;
    }

    /* When active, show the nav */
    nav.active {
       right: 20px;
    }
    
    /* Styles for the hamburger lines when the menu is active */
    .hamburger-menu.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger-menu.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger-menu.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }
}


