*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background-color: #232331;
    background-image: url('/assets/anime-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6); 
    z-index: -1;
  }

.container{
    border: 1px solid red;
    min-height: 100vh;
    padding: 20px;
    margin: 10px;
}

header{
    
}